.blog-card {
    background: linear-gradient(135deg, #9ee277, #44adc5);
  border-radius: 16px;
  padding: 20px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   overflow: hidden; 
}

.blog-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}
/* Header */
.blog-card-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.blog-tag {
  background: linear-gradient(135deg, #63f1c6, #5cd7f6);
  color: #fff;
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 999px;
  font-weight: 600;
}

/* Title */
.blog-title {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  margin: 10px 0;
  line-height: 1.3;
}

/* Content */
.blog-content {
  color: #4b5563;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
  flex-grow: 1;
  
  display: -webkit-box;
  
  overflow: hidden;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(174, 235, 226);
  padding: 24px;
  width: 90%;
  max-width: 600px;
  border-radius: 12px;
}

/* Footer */
.blog-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-author {
  font-size: 13px;
  color: #6b7280;
  font-weight: 500;
}

/* Read More Button */
.read-btn {
  background: transparent;
  border: none;
  color: #080808;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.3s ease, color 0.3s ease;
}

.read-btn:hover {
  background: rgba(99, 102, 241, 0.1);
  color: #46e546;
}
.blog-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.blog-video {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.modal-image,
.modal-video {
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;
}

