.login-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #46e583, #33e4ea);
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  background: #e9363641;
  width: 360px;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* Title */
.login-card h2 {
  margin-bottom: 5px;
  color: #111827;
}

.login-card p {
  font-size: 14px;
  color: #0a0a0aa4;
  margin-bottom: 25px;
}

/* Inputs */
.login-card input,
.login-card select {
  width: 100%;
  padding: 13px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
}

.login-card input:focus,
.login-card select:focus {
  outline: none;
  border-color: #63f18e;
}

/* Button */
.login-card button {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #63f1b6, #33deea);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
   width: 120px;          /* small button */
  padding: 8px 0;
  margin: 15px auto 0;   /* center horizontally */
  display: block;        /* needed for margin auto */
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.login-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
.role-section {
  display: flex;
  justify-content: center;
  gap: 20px;          /* space between radio buttons */
  margin: 15px 0;
}

.role-section label {
  display: flex;
  align-items: center;
  gap: 6px;           /* space between radio and text */
  cursor: pointer;
  font-size: 14px;
}
.role-section input[type="radio"] {
  transform: scale(1.1);
}
